---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Full-stack",
    company: "Ekium S.A.",
    descriptionOne:
      "Trabajo en una agencia de desarrollo de software, donde soy responsable del desarrollo de aplicaciones para una variedad de clientes. Mi rol abarca tanto el backend como el frontend, asegurando que cada proyecto cumpla con los estándares técnicos y las necesidades del cliente. Además participo en el diseño de las aplicaciones. En mi trabajo, utilizo una amplia gama de tecnologías, incluyendo PHP, .NET, JavaScript, TypeScript, Symfony, React, Angular, Meteor, Ionic, MySQL, y WordPress.",
    descriptionTwo:
      "Aparte de desarrollar nuevas aplicaciones, también brindo soporte a aplicaciones existentes, ayudando a los clientes a resolver problemas y mejorar sus sistemas actuales. Este enfoque integral me permite abordar diversos proyectos desde la concepción inicial hasta la implementación final.",
    link: "https://ekium.es",
  },
  {
    date: "Actualmente...",
    title: "Desarrollador Full-stack",
    company: "Consejo de Ciencias Económicas de Santa Fe - Cámara I",
    descriptionOne:
      "En mi rol, no solo desarrollo aplicaciones web y gestiono servidores, sino que también brindo soporte técnico integral a los empleados. Esto incluye resolver problemas de software y hardware.",
    descriptionTwo:
      "Colaborando estrechamente con el equipo de backend, he desarrollado soluciones de gestión, utilizando tecnologías como NodeJS, JavaScript, TypeScript, React, Tailwind y MySQL.",
    link: "https://cpcesfe1.org.ar/",
  },
  {
    date: "Abril - Noviembre 2023",
    title: "Desarrollador Full-stack",
    company: "Powip",
    descriptionOne:
      "Trabajé en el desarrollo de un dashboard administrativo para un ecommerce, mi principal tarea fue integrar el análisis de datos y proveer una serie de gráficos informativos en la aplicación. Tecnologías empleadas: React, Axios, Redux, Antd, Recharts y Dayjs.",
    descriptionTwo:
      "También se me encargo el trabajo de crear la landing page de la empresa, abarcando tanto el diseño como el desarrollo.",
  },
  {
    date: "Marzo - Mayo 2023",
    title: "Desarrollador Backend",
    company: "Salallena",
    descriptionOne:
      "Colabore en el diseño y desarrollo de soluciones back-end, utilizando tecnologías como PostgreSQL, NestJS, TypeScript, Prisma y Docker.",
    descriptionTwo:
      "Tambien fui el encargado de implementar la integración continua y despliegue continuo utilizando GitHub Actions y AWS. Esto incluyó la configuración de flujos de trabajo automatizados que gestionaban desde la integración del código hasta su despliegue en entornos de producción en AWS.",
      link: "https://www.facebook.com/salallenacom/",
  },
  {
    date: "Abril - Diciembre 2022",
    title: "Desarrollador Frontend",
    company: "Freelancer",
    descriptionOne:
      "Desarrollo de páginas web para empresas con ReactJS.",
    descriptionTwo:
      "",
      link: "",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
